pre.code {
background-color: #eeeeee;
color: #000;
}

.Root{
color: #000;
}

.Shebang{
color: #4e9a06;
font-style: italic;
}

.BlockComment{
color: #0066ff;
font-style: italic;
}

.Comment {
color: #0066ff;
font-style: italic;
}

.Logic {
color: #ad7fa8;
/* font-weight: bold; */
}

.className {
color: #ff6a6a;
}

.funcName {
color: #ff8000;
}

.Keywords {
color: #4e9a06;
/* font-weight: bold; */
}

.Keywords2 {
color: #9700cc;
/* font-weight: bold; */
}

.Keywords3 {
color: #CF19CB;
}

.Keywords4 {
color: #473E8F;
}

.Keywords5 {
color: #DF8A45;
}

.Special{
color: #AFA400;
}

.Types {
color: #00FF40;
font-style: italic;
}

.Entities {
background-color: #3F342B;
color: #3FCDFF;
}

.Entities1 {
color: #000;
}

.Entities2 {
color: #CF3E0C;
/* font-weight: bold; */
}

.Entities3 {
color: #8FCDFF;
}

.Pars {
/* color: #4e9a06; */
color: #D332C8;
}

.Operators{
color: #ef2929;
}

pre .StringEsc {
color: #3A3A3A;
background-color: #C4C4C4;
}

.String, .SingleString {
color: #729fcf;
background-color: #eeeeee; 
}

.DoubleString {
color: #729fcf;
background-color: #eeeeee;
}

.Number {
color: #0066cd; 
}

.Integer {
color: #49A5FF;
}

.Tag {
color: #49A5FF; 
}

.Name {
color: #49A5FF; 
}

.Regex {
color: #29AFDF;
background-color: #2F1D1D;
}

.Dico {
color: #61FF2F;
background-color: #183F0C;
}

.Url, .Url .a  {
color: #ef2929;
text-decoration: underline;
font-style: italic;
}